/* in dark mode, pdfs are also displayed in dark mode */

/* INFO use "1" instead of "0.85" for true black */

/* before Obsidian 1.3 (old pdf viewer, reading mode) */
.theme-dark :is(.pdf-embed, .workspace-leaf-content[data-type="pdf"]) iframe {
	filter: invert(0.85);
}

/* after Obsidian 1.3 (new pdf viewer, reading mode) */
.theme-dark .pdf-container :is(.canvasWrapper, .thumbnailImage) {
	filter: invert(0.85);
}

/* embedded pdfs in edit mode (Ozan's Image in Editor Plugin) */
.theme-dark .oz-pdf-widget-cm6{
	filter: invert(0.85);
}
