/* ⚠️ Requires Obsidian installer version 1.1.8 or later. */
/* ───────────────────────────────────────────────────── */
/* relative line numbers (for vim mode) */
body:not(.is-mobile) .cm-lineNumbers .cm-gutterElement:not(.cm-active) {
	font-size: 0;
}

body:not(.is-mobile) .cm-lineNumbers .cm-active,
body:not(.is-mobile) .cm-lineNumbers *::before {
	font-size: 0.85rem;
}

/* numbers before */
body:not(.is-mobile) .cm-lineNumbers *:has(+ .cm-active)::before {
	content: "1";
}

body:not(.is-mobile) .cm-lineNumbers *:has(+*+ .cm-active)::before {
	content: "2";
}

body:not(.is-mobile) .cm-lineNumbers *:has(+*+*+ .cm-active)::before {
	content: "3";
}

body:not(.is-mobile) .cm-lineNumbers *:has(+*+*+*+ .cm-active)::before {
	content: "4";
}

body:not(.is-mobile) .cm-lineNumbers *:has(+*+*+*+*+ .cm-active)::before {
	content: "5";
}

body:not(.is-mobile) .cm-lineNumbers *:has(+*+*+*+*+*+ .cm-active)::before {
	content: "6";
}

body:not(.is-mobile) .cm-lineNumbers *:has(+*+*+*+*+*+*+ .cm-active)::before {
	content: "7";
}

body:not(.is-mobile) .cm-lineNumbers *:has(+*+*+*+*+*+*+*+ .cm-active)::before {
	content: "8";
}

body:not(.is-mobile) .cm-lineNumbers *:has(+*+*+*+*+*+*+*+*+ .cm-active)::before {
	content: "9";
}

 /* numbers after */
body:not(.is-mobile) .cm-lineNumbers .cm-active + *::before {
	content: "1";
}

body:not(.is-mobile) .cm-lineNumbers .cm-active + * + *::before {
	content: "2";
}

body:not(.is-mobile) .cm-lineNumbers .cm-active + * + * + *::before {
	content: "3";
}

body:not(.is-mobile) .cm-lineNumbers .cm-active + * + * + * + *::before {
	content: "4";
}

body:not(.is-mobile) .cm-lineNumbers .cm-active + * + * + * + * + *::before {
	content: "5";
}

body:not(.is-mobile) .cm-lineNumbers .cm-active + * + * + * + * + * + *::before {
	content: "6";
}

body:not(.is-mobile) .cm-lineNumbers .cm-active + * + * + * + * + * + * + *::before {
	content: "7";
}

body:not(.is-mobile) .cm-lineNumbers .cm-active + * + * + * + * + * + * + * + *::before {
	content: "8";
}

body:not(.is-mobile) .cm-lineNumbers .cm-active + * + * + * + * + * + * + * + * + *::before {
	content: "9";
}
