/* ───────────────────────────────────────────────────
SHIMMERING FOCUS by @pseudometa
Version 2.1
Source CSS: https://github.com/chrisgrieser/shimmering-focus/blob/main/source.css
MIT License
──────────────────────────────────────────────────── */
/* @MINIFY-SPLIT-MARKER @YAMLLINT-START-MARKER */
/* @settings
name: Shimmering Focus
id: shimmering-focus
settings:
  -
   id: show-hide-elements
   title: 🙈 Show/Hide UI Elements
   description: Re-enable elements hidden by this theme
   type: heading
   level: 1
   collapsed: true
  -
   id: hide-settings-button
   title: Hide Settings Button
   type: class-toggle
   description: "Hide the floating Settings button in the bottom left. You can still access the settings by using the hotkey 'cmd + ,' (Mac) or 'ctrl + ,' (Windows/Linux)."
   default: false
  -
   id: no-floating-metadata
   title: Permanently show the Metadata Block / YAML Frontmatter (Reading Mode)
   type: class-toggle
   description: 'By default, the metadata block in this theme only becomes visible upon hovering the "M" / "Y" in the top right. You can also add the cssclass "no-floating-metadata" to a note to permanently show the meta on that specific note.'
   default: false
  -
   id: show-sidebar-tabs
   title: Permanently show the Sidebar Tabs
   type: class-toggle
   description: By default, the Sidebar Tabs become visible upon hovering.
   default: false
  -
   id: show-titlebar
   title: Re-enable Title Bar
   type: class-toggle
   description: The titlebar is needed to move the Obsidian window with the mouse. Some plugins also require the title bar.
   default: false
  -
   id: show-titlebar-text
   title: Show Vault Name in Title Bar
   type: class-toggle
   description: When the Title Bar is re-enabled, show the name of the vault there.
   default: false
  -
   id: show-ribbons
   title: Re-enable Ribbons
   type: class-toggle
   description: '"Ribbons" are the thin vertical bars to the very left & right. Without the ribbons, you can still trigger any action via the Command Palette.'
   default: false
  -
   id: show-header-bar
   title: Permanently show the Header Bar
   description: By default, the Header bar is still visible upon focus and hover. (When you are using Sliding Panes with rotated headers, the headers will be permanently shown and this setting has no effect.)
   type: class-toggle
   default: false
  -
   id: show-urls
   title: 'Permanently show full URLs (Source Mode)'
   type: class-toggle
   description: In Source Mode, URLs will be folded except for the active line. Enable this to permanently show the full URL.
   default: false
  -
   id: show-external-link-icon
   title: 'Re-enable the External Link Icon (Reading Mode)'
   type: class-toggle
   description: 'In Reading Mode, external links are distinguishable from internal link since they the former have a single underline, while the latter have double underlines. Enable this, to additionaly use an icon to indicate external links. (Note that the icon will always be hidden when using the Link Favicon Plugin.)'
   default: false
  -
   id: permanently-show-blockids
   title: 'Permanently show Block IDs (Source Mode)'
   type: class-toggle
   description: In Source Mode, Block IDs are hidden until the respective line is active or hovered. Enable this re-enable the permanent display of block IDs.
   default: false
  -
   id: show-close-button
   title: Permanently Show Close Buttons
   type: class-toggle
   description: "By default, this theme only shows close button on hover. You can close menus without close button by pressing 'Esc' or by clicking outside the menu area."
   default: false
  -
   id: show-scrollbar
   title: Re-enable Scrollbars
   type: class-toggle
   description: By default, this theme only shows scroll bars in the editor.
   default: false
  -
   id: permanently-show-collapse-indicators
   title: Permanently show the Collapse Arrows
   description: By default, collapse arrows only become visible when hovered, folded, or in the active line.
   type: class-toggle
   default: false
  -
   id: show-graph-controls
   title: 'Graph View: Permanently show the Graph Controls'
   description: By default, graph controls are only visible when opened, or upon hovering the top-left area of the Graph View.
   type: class-toggle
   default: false
  -
   id: aesthetics
   title: 🎨 Color & Aesthetics
   description: Color Schemes, 🆕 Custom Colors, Coloring of YAML, 🆕 Coloring of Bold/Italic, Brightness, Roundness
   type: heading
   level: 1
   collapsed: true
  -
   id: shapes
   title: Shapes
   description: Roundish, rounded, or angular shapes throughout the whole theme.
   type: class-select
   allowEmpty: false
   default: squareish-shapes
   options:
    -
      label: ⏹ Roundish
      value: squareish-shapes
    -
      label: 🔘 Round
      value: round-shapes
    -
      label: 🔲 Angular
      value: angular-shapes
  -
   id: colored-yaml
   title: Colored YAML Frontmatter (Edit Mode)
   description: 'Use colored YAML frontmatter in Source Mode & Live Preview. (In Reading Mode, YAML Frontmatter is always colored.) Colors in the YAML Frontmatter are determined by accent colors.'
   type: class-toggle
   default: false
  -
   id: colored-bold-italic
   title: 🆕 Bold & Italic Text Color
   description: 'Whether Bold & Italic should have the same color as normal text or have a different color. (Note that with the Classic Color Scheme, secondary & hovered accent are the same.)'
   type: class-select
   allowEmpty: false
   default: strong-em-hover-accent
   options:
    -
      label: Use Hover Accent
      value: strong-em-hover-accent
    -
      label: Use Secondary Accent
      value: strong-em-secondary-accent
    -
      label: Same as Normal Text
      value: strong-em-uncolored
  -
   id: preset-color-scheme
   title: "Color Schemes"
   description: 'Select "🌈 Custom Colors" to fully customize background colors and accent colors (soon™️) yourself.'
   type: class-select
   allowEmpty: false
   default: gamma-colors
   options:
    -
      label: 🟦🟨🟪 Gamma
      value: gamma-colors
    -
      label: 🟣🟢 Classic
      value: classic-colors
    -
      label: ❄️ Nord
      value: nord-colors
    -
      label: 🌈 Custom Colors
      value: custom-colors
  -
   id: custom-color-light-mode
   title: '🔆 Light Mode'
   description: Custom Colors
   type: heading
   level: 2
   collapsed: false
  -
   id: primary-accent-light
   title: "Primary Accent (Light Mode)"
   description: 'Links, Selections, Buttons, Interactive UI Elements'
   type: class-select
   allowEmpty: false
   default: primary-accent-light-cyan
   options:
    -
      label: 🟣 Obsidian Purple
      value: primary-accent-light-purple
    -
      label: 🏖 Beach Blue
      value: primary-accent-light-cyan
    -
      label: 🔵 Deep Blue
      value: primary-accent-light-blue
    -
      label: 🟠 Autumn Orange
      value: primary-accent-light-orange
  -
   id: secondary-accent-light
   title: "Secondary Accent (Light Mode)"
   description: 'Inline Code, Inline Tags, Finished Tasks, Footnotes, Pandoc Citations'
   type: class-select
   allowEmpty: false
   default: secondary-accent-light-yellow
   options:
    -
      label: 🟢 Shimmering Green
      value: secondary-accent-light-green
    -
      label: 🟡 Amber Yellow
      value: secondary-accent-light-yellow
  -
   id: hover-accent-light
   title: "Hover Accent (Light Mode)"
   description: 'Hovered Elements'
   type: class-select
   allowEmpty: false
   default: hover-accent-light-pink
   options:
    -
      label: 🟢 Shimmering Green
      value: hover-accent-light-green
    -
      label: 🦩 Flamingo Pink
      value: hover-accent-light-pink
    -
      label: 🏖 Beach Blue
      value: hover-accent-light-cyan
  -
   id: no-gray-tint-light
   title: 'Turn off the slight color tint of Normal Text (Light Mode)'
   type: class-toggle
   default: false
  -
   id: tint-of-grays-light
   title: 'Text: Color Tint (Light Mode)'
   description: 'Slight tint for standard text (i.e., hue with low saturation)'
   type: variable-number-slider
   default: 235
   min: 0
   max: 360
   step: 5
  -
   id: brightness-light
   title: 'Background: Brightness (Light Mode)'
   description: Note that a high brightness in light mode results in a white theme, regardless of the selected hue.
   type: variable-number-slider
   default: 15
   min: 0
   max: 20
   step: 1
   format: '%'
  -
   id: light-hue
   title: 'Background: Hue (Light Mode)'
   description: 'Overall color tone of the theme background. Mind that the appearance of the color is also affected by brightness and saturation.'
   type: variable-number-slider
   default: 220
   min: 0
   max: 360
   step: 5
  -
   id: light-sat
   title: 'Background: Saturation (Light Mode)'
   description: "Intensity of the chosen hue. Setting this to zero will result in grayscale, regardless of the hue chosen. "
   type: variable-number-slider
   default: 14
   min: 0
   max: 20
   step: 2
   format: '%'
  -
   id: custom-color-dark-mode
   title: '🌒 Dark Mode'
   description: Custom Colors
   type: heading
   level: 2
   collapsed: false
  -
   id: primary-accent-dark
   title: "Primary Accent (Dark Mode)"
   description: 'Links, Selections, Buttons, Interactive UI Elements'
   type: class-select
   allowEmpty: false
   default: primary-accent-dark-purple
   options:
    -
      label: 🟣 Obsidian Purple
      value: primary-accent-dark-purple
    -
      label: 🏖 Beach Blue
      value: primary-accent-dark-cyan
    -
      label: 🔵 Deep Blue
      value: primary-accent-dark-blue
    -
      label: 🟠 Autumn Orange
      value: primary-accent-dark-orange
  -
   id: secondary-accent-dark
   title: "Secondary Accent (Dark Mode)"
   description: 'Inline Code, Inline Tags, Finished Tasks, Footnotes, Pandoc Citations'
   type: class-select
   allowEmpty: false
   default: secondary-accent-dark-green
   options:
    -
      label: 🟢 Shimmering Green
      value: secondary-accent-dark-green
    -
      label: 🟡 Amber Yellow
      value: secondary-accent-dark-yellow
  -
   id: hover-accent-dark
   title: "Hover Accent (Dark Mode)"
   description: 'Hovered Elements'
   type: class-select
   allowEmpty: false
   default: hover-accent-dark-green
   options:
    -
      label: 🟢 Shimmering Green
      value: hover-accent-dark-green
    -
      label: 🦩 Flamingo Pink
      value: hover-accent-dark-pink
    -
      label: 🏖 Beach Blue
      value: hover-accent-dark-cyan
  -
   id: no-gray-tint-dark
   title: 'Turn off the slight color tint of Normal Text (Dark Mode)'
   type: class-toggle
   default: false
  -
   id: tint-of-grays-dark
   title: 'Text: Color Tint (Dark Mode)'
   description: 'Slight tint for text (i.e., hue with low saturation)'
   type: variable-number-slider
   default: 220
   min: 0
   max: 360
   step: 5
  -
   id: brightness-dark
   title: 'Background: Brightness (Dark Mode)'
   description: Note that a low brightness in dark mode results in a black theme, regardless of the selected hue.
   type: variable-number-slider
   default: 7
   min: 0
   max: 15
   step: 1
   format: '%'
  -
   id: dark-hue
   title: 'Background: Hue (Dark Mode)'
   description: 'Overall color tone of the theme background. Mind that the appearance of the color is also affected by brightness and saturation.'
   type: variable-number-slider
   default: 220
   min: 0
   max: 360
   step: 5
  -
   id: dark-sat
   title: 'Background: Saturation (Dark Mode)'
   description: "Intensity of the chosen hue. A low value will result in grayscale, regardless of the hue chosen. "
   type: variable-number-slider
   default: 5
   min: 0
   max: 20
   step: 2
   format: '%'
  -
   id: font-settings
   title: 🔠 Typography
   description: "Fonts, Headings, Blockquotes"
   type: heading
   level: 1
   collapsed: true
  -
   id: font-family-font-size
   title: 🔤 Fonts
   description: Font Families & Font Sizes
   type: heading
   level: 2
   collapsed: true
  -
   id: font-text-theme
   title: Text Font (Desktop)
   description: 'Used in Reading and Editing Mode. This setting will be overriden when you have set a custom text font in the Obsidian settings (Appearance ➞ Font ➞ Text Font).'
   type: variable-text
   default: '"iA Writer Quattro S"'
  -
   id: font-monospace-theme
   title: Monospace Font
   description: 'Used in code blocks, YAML headers, tables & MathJax in Source Mode. This setting will be overriden when you have set a custom monospace font in the Obsidian settings (Appearance ➞ Font ➞ Monospace Font).'
   type: variable-text
   default: '"Input Mono S"'
  -
   id: monospace-font-size
   title: Monospace Font Size
   type: variable-number-slider
   default: 0.9
   min: 0.6
   max: 1.6
   step: 0.05
   format: rem
  -
   id: font-interface-theme
   title: Interface Font (Desktop)
   description: 'Affects the sidebars, header bar, status bar, and menus.  This setting will be overriden when you have set a custom interface font in the Obsidian settings (Appearance ➞ Font ➞ Interface Font).'
   type: variable-text
   default: '"Recursive S"'
  -
   id: sidebar-font-size
   title: Side Bar Font Size
   description: Affects the left side bar and right side bar.
   type: variable-number-slider
   default: 0.85
   min: 0.6
   max: 1.6
   step: 0.05
   format: rem
  -
   id: status-bar-font-size
   title: Status Bar Font Size
   type: variable-number-slider
   default: 0.85
   min: 0.5
   max: 1.5
   step: 0.05
   format: rem
  -
   id: menu-font-size
   title: Menu Font Size
   description: Affects the settings menu, plugin browser and theme browser.
   type: variable-number-slider
   default: 1
   min: 0.7
   max: 1.3
   step: 0.05
   format: rem
  -
   id: heading-font-options
   title: 🔼 Headings
   description: Font Size per Heading Level, Background, Level Indicator, Letter Spacing
   type: heading
   level: 2
   collapsed: true
  -
   id: heading-font
   title: Heading Font
   description: Applies to h1 to h6 Headings
   type: variable-text
   default: '"Optima S"'
  -
   id: no-heading-bg
   title: Remove Heading Backgrounds
   type: class-toggle
   default: false
  -
   id: less-heading-letter-spacing
   title: Compact Headings
   description: Makes Headings more compact by decreasing their letter spacing.
   type: class-toggle
   default: false
  -
   id: no-alternating-header-italics
   title: No Alternating Italic of Headings
   description: In this theme, the heading levels alternate between italic/regular to make them more distinguishable. You can turn that feature off if you prefer non-italic for all heading levels.
   type: class-toggle
   default: false
  -
   id: no-heading-level-in-lp
   title: No Heading Level Indicator in Live Preview
   description: "Removes the small 'H1', 'H2', that are in front of headings in Live Preview."
   type: class-toggle
   default: false
  -
   id: h1
   title: Level 1 Headings
   type: variable-number-slider
   default: 1.85
   min: 1
   max: 3
   step: 0.05
   format: em
  -
   id: h2
   title: Level 2 Headings
   type: variable-number-slider
   default: 1.6
   min: 1
   max: 3
   step: 0.05
   format: em
  -
   id: h3
   title: Level 3 Headings
   type: variable-number-slider
   default: 1.35
   min: 1
   max: 3
   step: 0.05
   format: em
  -
   id: h4
   title: Level 4 Headings
   type: variable-number-slider
   default: 1.15
   min: 1
   max: 3
   step: 0.05
   format: em
  -
   id: h5
   title: Level 5 Headings
   type: variable-number-slider
   default: 1.1
   min: 1
   max: 3
   step: 0.05
   format: em
  -
   id: h6
   title: Level 6 Headings
   type: variable-number-slider
   default: 1.05
   min: 1
   max: 3
   step: 0.05
   format: em
  -
   id: blockquote-font-options
   title: ⏹ Blockquotes
   description: Relative Font Size, Alignment, Decoration
   type: heading
   level: 2
   collapsed: true
  -
   id: normal-blockquotes
   title: Normal-sized Blockquotes
   description: Blockquotes (and Callouts) have the same size and line-height as the rest of the text.
   type: class-toggle
   default: false
  -
   id: blockquotes-left-aligned
   title: Left-aligned Blockquote Text (Reading Mode)
   description: Use left-aligned text in blockquotes instead of justified text.
   type: class-toggle
   default: false
  -
   id: quotation-mark-deco
   title: Decorative Quotation Mark
   description: Show a decorative quotation mark next to blockquotes in Reading Mode.
   type: class-toggle
   default: false
  -
   id: gutter-features
   title: ❇️ Gutter & Active Line
   description: Active Line Highlights, Indicators in the Gutter, 🆕 Relative/Minimal Line Numbering, Tags-in-Gutter
   type: heading
   level: 1
   collapsed: true
  -
   id: active-line-highlight-options
   title: Active Line
   description: "Options for emphasizing the active line. ('Emphasized Background' is automatically turned off when the Active Visual Line Plugin is installed.)"
   type: class-select
   allowEmpty: false
   default: active-line-gutter
   options:
   -
    label: Vertical Line in Gutter
    value: active-line-gutter
   -
    label: Emphasized Background
    value: active-line-emphasized-bg
   -
    label: No Active Line Highlight
    value: no-active-highlight
  -
   id: line-number-options
   title: 🆕 Line Numbering Style
   description: "'Relative' shows only the active line and the following seven lines (useful for Vim Mode). 'Minimal' shows line numbers only for the active and hovered line. Note that both have no effect when Obsidian's 'Show line number' setting is disabled."
   type: class-select
   allowEmpty: false
   default: default-line-numbering
   options:
   -
    label: Default
    value: default-line-numbering
   -
    label: Minimal
    value: minimal-line-numbering
   -
    label: Relative
    value: relative-line-numbering
  -
   id: footnote-gutter
   title: "Footnote Indicator"
   description: Displays a small indicator (⦿) in the gutter when a footnote is present. (Note that numbered indicators can not properly count footnotes on the same line.)
   type: class-select
   allowEmpty: false
   default: simple-fn-indicator
   options:
   -
    label: Default Footnote Indicator
    value: simple-fn-indicator
   -
    label: Numbered Footnote Indicator
    value: numbered-fn-indicator
   -
    label: No Footnote Indicator
    value: no-fn-indicator
  -
   id: no-unresolved-link-indicator
   title: Disable Unresolved Link Indicators
   description: The indicators (𝘅) are only shown in Reading Mode and Live Preview.
   type: class-toggle
   default: false
  -
   id: tags-in-gutter
   title: Show Tags in Gutter (Reading Mode)
   description: 'Can also be selectively enabled per note by adding the cssclass "tags-in-gutter".'
   type: class-toggle
   default: false
  -
   id: no-search-result-indicator
   title: Disable Search Result Indicators
   description: The indicators (▶) are only shown in Source Mode and Live Preview.
   type: class-toggle
   default: false
  -
   id: content-settings
   title: 🏞 Views & Media
   description: Line Length, Max View, Focus View, Images, 🆕 Image Zoom Methods, PDFs
   type: heading
   level: 1
   collapsed: true
  -
   id: readable-length
   title: Line Length
   description: 'When "Readable Line length" is enabled and "Max View" is not active.'
   type: variable-number-slider
   default: 700
   min: 300
   max: 1300
   step: 50
   format: px
  -
   id: max-view-enabled
   title: 'Enable "Max View"'
   description: 'Makes panes full length and images/PDFs full width when the left sidebar is hidden. Switches back to readable line length and smaller images/PDFs when the left sidebar is shown. Can be combined with "Focus View". (Requires "Readable Line Length" to be enabled.)'
   type: class-toggle
   default: false
  -
   id: focus-view-enabled
   title: 'Enable "Focus View"'
   description: 'Hiding the left side bar will also hide the right one. Note that with this feature, the right side bar stays hidden until the left one is shown again. Can be combined with "Max View".'
   type: class-toggle
   default: false
  -
   id: hover-zoom
   title: '🆕 Image Zoom via Hover'
   description: 'By default, you can zoom in images by clicking & holding. Enable this to zoom in images by hovering instead.'
   type: class-toggle
   default: false
  -
   id: hover-zoom-delay
   title: '🆕 Hover Zoom Delay'
   desciption: Duration the cursor needs to hover over an image before it is zoomed in (in milliseconds).
   type: variable-number-slider
   default: 1000
   min: 0
   max: 2000
   step: 100
   format: ms
  -
   id: image-size
   title: Size of Images
   description: Size of Images in % (without Max View or Image Zoom)
   type: variable-number-slider
   default: 50
   min: 10
   max: 100
   step: 5
  -
   id: pdf-size
   title: Size of embedded PDFs
   description: Size of embedded PDFs in % (without Max View or Image Zoom)
   type: variable-number-slider
   default: 50
   min: 10
   max: 100
   step: 5
  -
   id: left-aligned-embeds
   title: Align Images & PDFs to the left
   description: When disabled, they will be aligned to the center instead.
   type: class-toggle
   default: false
  -
   id: disable-image-borders
   title: Remove image borders
   description: Disables the frame put around images.
   type: class-toggle
   hub: ignore
   default: false
  -
   id: no-pdf-dark-mode
   title: No Dark Mode for PDFs
   description: By default, PDFs in dark mode are also displayed in dark mode. Enable this to always display PDFs in their original colors.
   type: class-toggle
   default: false
  -
   id: file-explorer-sidebar-options
   title: 📂 File Explorer & Sidebar
   description: File Name Trimming, Icons, Show/Hide elements
   type: heading
   level: 1
   collapsed: true
  -
   id: trim-long-filenames
   title: 'Sidebar: Trim File Names'
   description: When enabled, long file and folder names will be trimmed. When disabled, long names will be wrapped to the next line. This setting affects sidebar tabs in general, not only the file explorer.
   type: class-toggle
   default: false
  -
   id: hide-attachment-folders
   title: 'File Explorer: Hide attachments folders'
   description: 'Affects folders exactly named "attachments" (case-insensitive).'
   type: class-toggle
   default: false
  -
   id: show-vault-in-file-explorer
   title: 'File Explorer: Show Vault Name'
   type: class-toggle
   description: Enable this, if you want to drag and drop items to your vault root.
   default: false
  -
   id: show-file-explorer-navigation
   title: 'File Explorer: Re-enable Navigation Buttons'
   type: class-toggle
   description: 'The navigation buttons are the buttons for new file, new folder, and sorting. You can do the former two without the buttons via the context menu.'
   default: false
  -
   id: no-file-explorer-icons
   title: 'File Explorer: No File Icons'
   description: Remove the icons next to files in the file explorer. Enable this if you use a plugin that already adds icons.
   type: class-toggle
   default: false
  -
   id: no-folder-icons
   title: 'File Explorer: No Folder Icons'
   description: Remove the icons next to folders in the file explorer. Enable this if you use a plugin that already adds icons.
   type: class-toggle
   default: false
  -
   id: status-bar-options
   title: 💈 Status Bar
   description: Type of Status Bar, Hiding Items
   type: heading
   level: 1
   collapsed: true
  -
   id: status-bar-mode
   title: Status Bar
   type: class-select
   allowEmpty: false
   default: only-on-hover
   options:
    -
      label: only show on hover
      value: only-on-hover-statusbar
    -
      label: show permanently
      value: permanently-show-statusbar
    -
      label: hide permanently
      value: permanently-hide-statusbar
    -
      label: permanent & text-only
      value: minimal-status-bar
    -
      label: classic statusbar
      value: classic-statusbar
  -
   id: hide-languagetool-status-bar
   title: 'Hide Language Tools'
   type: class-toggle
   default: false
  -
   id: hide-backlinks-status-bar
   title: 'Hide Backlinks'
   type: class-toggle
   default: false
  -
   id: hide-signature
   title: 'Hide the decorative "✧"'
   hub: ignore
   type: class-toggle
   default: false
  -
   id: special-syntax
   title: 🌀 Special Syntax
   description: 'Highlight Colors, Multi-Color Highlights, Spoiler Syntax, Annotation Tags, Trailing Whites Space, Citation Syntax, Pandoc Citations, Loose Lists'
   type: heading
   level: 1
   collapsed: true
  -
   id: highlight-hue-1
   title: Regular Highlights
   type: variable-number-slider
   default: 60
   min: 0
   max: 360
   step: 5
  -
   id: highlight-hue-2
   title: Multi-Color Highlight 1
   type: variable-number-slider
   default: 150
   min: 0
   max: 360
   step: 5
  -
   id: highlight-hue-3
   title:  Multi-Color Highlight 2
   type: variable-number-slider
   default: 185
   min: 0
   max: 360
   step: 5
  -
   id: no-multi-color-highlights
   title: Disable Multi-Color Highlights
   description: Multi-Color Highlights are created by combining regular highlights with italic (*==highlight==*) or bold (**==highlight==**).
   type: class-toggle
   default: false
  -
   id: no-pseudo-spoiler-tags
   title: Disable Spoiler Syntax
   description: The spoiler syntax (*~~spoiler~~*) will blacken the enclosed text until hovered.
   type: class-toggle
   default: false
  -
   id: annotation-tags-off
   title: Disable Annotation Tags
   description: '"Annotation Tags" are tags that are visually emphasized when used inline (i.e., not the YAML frontmatter). They include: #definition, #question, #goal, #todo, #summary, #important, #main, #critique, #gap, #litreview, #quote, #agree, #disagree, #example, #data, #method, and #sidenote.'
   type: class-toggle
   default: false
  -
   id: hide-trailing-whitespace
   title: Hide Trailing Spaces
   description: 'By default, this theme shows trailing spaces when there are more than one, indicated with "· · ↵". This can be for the so-called "Two Space Rule" in Markdown, where exactly two spaces at the end of a line force a line break.'
   type: class-toggle
   default: false
  -
   id: no-citation-syntax
   title: Disable Citation Syntax
   description: The Citation Syntax turn a double-blockquote paragraph (>>) that follows a normal blockquote (>) paragraph into an indented citation.
   type: class-toggle
   default: false
  -
   id: no-pandoc-citation-emphasis
   title: No Emphasis of Pandoc Citations and Dataview Inline Fields
   description: "Turn off the coloring of Pandoc Citations [@citekey] and dataview inline fields [key:: value] in Source Mode."
   type: class-toggle
   default: false
  -
   id: re-enable-loose-lists
   title: 'Re-enable Loose Lists'
   description: 'When a list contains a blank line in between its items, it is considered a "loose list" and will be rendered with additional spacing in Reading Mode. By default, loose lists are turned off in this theme, since most of the time, they are created by accident.'
   type: class-toggle
   default: false
  -
   id: cursor-settings
   title: 🖱 Cursor & Vim Mode
   description: Thickness, Color, Blinking, Block Cursor, 🆕 Vim Cursor, 🆕 Vim Mode Indicator
   type: heading
   level: 1
   collapsed: true
  -
   id: cursor-styles
   title: 🆕 Cursor Style
   description: Color and look of the cursor.
   type: class-select
   allowEmpty: false
   default: dark-eclipse-cursor
   options:
    -
      label: Dark Eclipse
      value: dark-eclipse-cursor
    -
      label: Shimmering Beam
      value: shimmering-beam-cursor
    -
      label: iA Writer
      value: ia-writer-cursor
    -
      label: Fire & Ice
      value: fire-and-ice-cursor
    -
      label: 🆕 Theme Primary Accent
      value: cursor-theme-primary-accent
    -
      label: 🆕 Theme Hover Accent
      value: cursor-theme-hover-accent
  -
   id: cursor-blink-style
   title: Cursor Blink Style
   type: class-select
   allowEmpty: false
   default: normal-blink
   options:
    -
      label: Normal
      value: normal-blink
    -
      label: Smooth Phasing
      value: phase-blink-cursor
    -
      label: Breathing
      value: breathing-cursor
    -
      label: Inversion Blink
      value: inversion-blink-cursor
    -
      label: No Blink
      value: no-blink-cursor
  -
   id: cursor-shape
   title: Cursor Shape
   description: When using a block cursor, you should also change the main font to a monospace font for best results. (This setting does not affect the Vim cursor.)
   type: class-select
   allowEmpty: false
   default: normal-shape
   options:
    -
      label: Normal
      value: normal-shape
    -
      label: Block Cursor
      value: block-cursor
    -
      label: Thin Cursor
      value: thin-cursor
  -
   id: vim-cursor-look
   title: 🆕 Vim Cursor Style
   description: The look of the cursor when using Vim in Normal Mode.
   type: class-select
   allowEmpty: false
   default: vim-cursor-monolith
   options:
    -
      label: Monolith
      value: vim-cursor-monolith
    -
      label: Theme Primary Accent
      value: vim-cursor-theme-primary-accent
    -
      label: Theme Hover Accent
      value: vim-cursor-theme-hover-accent
  -
   id: vim-mode-indicator
   title: 🆕 Vim Mode Indicator
   description: "Select the position of the indicator, that shows the current Vim mode, or disable it entirely. Note that 'Bottom' will conflict with with long status bars."
   type: class-select
   allowEmpty: false
   default: top-vim-indicator
   options:
    -
      label: Top
      value: top-vim-indicator
    -
      label: Bottom
      value: bottom-vim-indicator
    -
      label: No Mode Indicator
      value: no-vim-indicator
  -
   id: code-blocks-options
   title: '🖥 Code Blocks'
   description: '🆕 Line Numbering, Tab Size, Line Wrapping, Syntax Highlighting'
   type: heading
   level: 1
   collapsed: true
  -
   id: code-block-tab-size
   title: Tab Size (Preview & Source Mode)
   description: This setting is independent from the global Obsidian setting for Tab Size.
   type: variable-number-slider
   default: 4
   min: 2
   max: 8
   step: 1
  -
   id: no-code-block-wrapping
   title: Disable Line Wrapping in Code Blocks (Reading Mode)
   description: This setting is independent from the global Obsidian setting for Line Wrapping.
   type: class-toggle
   default: false
  -
   id: no-codeblock-line-numbers
   title: Disable Line Numbering in Code Blocks (Edit Mode)
   description: 'By default, this theme adds line numbers in code blocks in Source Mode and Live Preview. Enable this, to turn off the line numbers.'
   type: class-toggle
   default: false
  -
   id: code-block-syntax-hl-light-mode
   title: "Syntax Highlighting (Light Mode)"
   description: Affects Code Blocks and MathJax
   type: class-select
   allowEmpty: false
   default: default-syntax-highl-light
   options:
    -
      label: Default
      value: default-syntax-highl-light
    -
      label: Dracula
      value: dracula-syntax-hl-light
  -
   id: code-block-syntax-hl-dark-mode
   title: "Syntax Highlighting (Dark Mode)"
   description: Affects Code Blocks, YAML Frontmatter in Reading Mode, and MathJax
   type: class-select
   allowEmpty: false
   default: default-syntax-highl-dark
   options:
    -
      label: Default
      value: default-syntax-highl-dark
    -
      label: Dracula
      value: dracula-syntax-hl-dark
  -
   id: callout-options
   title: 📞 Callouts
   description: Sidenote Callouts
   type: heading
   level: 1
   collapsed: true
  -
   id: sidenote-callout-width
   title: Width of Sidenote Callouts
   description: 'Percentage of the readable line length. Affects callouts with "> [!sidenote]". '
   type: variable-number-slider
   default: 34
   min: 10
   max: 60
   step: 2
  -
   id: sidenote-callout-outdent
   title: '"Outdent" the Sidenote Callout'
   description: Moves them slightly to the right for extra space.
   type: class-toggle
   default: false
  -
   id: post-it-callout-size
   title: 🆕 Size of Post-it Callouts
   description: "Callouts with '> [!post-it]'. This variable affects width and height (i.e., quadratic growth). Mind that post-its with too much content get cut off — they are post-its after all."
   type: variable-number-slider
   default: 135
   min: 90
   max: 250
   step: 5
   format: px
  -
   id: mobile
   title: 📱 Mobile
   description: Header Bar, Font Size, Font Type
   type: heading
   level: 1
   collapsed: true
  -
   id: show-mobile-header
   title: Re-enable Header
   description: By default, this theme shows a floating button to toggle between Reading and Source Mode.
   type: class-toggle
   default: false
  -
   id: mobile-font-size
   title: Mobile Font Size
   type: variable-number-slider
   default: 1.25
   min: 0.5
   max: 2
   step: 0.05
   format: rem
  -
   id: mobile-font-text-theme
   title: Text Font (Mobile)
   description: 'Used in Reading and Editing Mode. ⚠️ This setting will be overriden when you have set a custom text font in the Obsidian settings (Appearance ➞ Font ➞ Text Font).'
   type: variable-text
   default: '"iA Writer Quattro S"'
  -
   id: mobile-font-interface-theme
   title: Interface Font (Mobile)
   description: 'Affects the sidebars, header bar, status bar, and menus.  ⚠️ This setting will be overriden when you have set a custom interface font in the Obsidian settings (Appearance ➞ Font ➞ Interface Font).'
   type: variable-text
   default: '"Recursive S"'
  -
   id: plugin-specific
   title: ⚙️ Plugin-Specific Settings
   description: Backlinks, Outline, Starred, Command Palette, Breadcrumbs, Sliding Panes, Supercharged Links, Link Favicons, Calendar
   type: heading
   level: 1
   collapsed: true
  -
   id: classic-inline-backlinks
   title: 'Backlinks: Re-enable classic inline backlinks'
   description: 'You can also add the yaml "cssclass: no-inline-backlinks" to disable the inline backlinks for a specific note.'
   type: class-toggle
   default: false
  -
   id: outline-remove-level-1
   title: 'Outline: Remove First Level of Headings'
   description: In case you have only one H1 heading per file, this will make the outline sidebar more compact.
   type: class-toggle
   default: false
  -
   id: show-starred-nav-buttons
   title: 'Starred Pane: Re-enable Buttons'
   description: The two buttons to star the current file and the current search.
   type: class-toggle
   default: false
  -
   id: move-plugin-name-to-left
   title: 'Command Palette: Move the plugin name back to the left'
   description: Enable this in case some commands are aren't displayed properly in the Command Palette.
   type: class-toggle
   hub: ignore
   default: false
  -
   id: minimal-breadcrumbs-matrix
   title: 'Breadcrumbs (Matrix View): Remove Headings'
   description: Make the Matrix View more compact by removing all headings ("real", "implied", "up",... ).
   type: class-toggle
   default: false
  -
   id: no-sliding-panes-shadows
   title: 'Sliding Panes: Remove Pane Shadows'
   description: 'Removes the shadow that occur when using the "Toggle Stacking" option.'
   type: class-toggle
   default: false
  -
   id: no-built-in-supercharged-links
   title: 'Supercharged Links: Turn off built-in styling'
   description: "This theme has some styling for the Supercharged Links plugin built-in, so can make use of the plugin without knowledge of CSS. See the theme's documentation for more information."
   type: class-toggle
   default: false
  -
   id: grayscale-favicons
   title: 'Link Favicons: Grayscale Icons'
   type: class-toggle
   default: false
  -
   id: no-calendar-lines
   title: 'Calendar: Remove vertical lines'
   description: Remove the lines in the Calendar plugin's Calendar (making it more similar to its default look).
   type: class-toggle
   hub: ignore
   default: false
  -
   id: bold-calendar-today
   title: "Calendar: Bold today's date"
   description: Applies bold and the heading font to today's date in the Calendar plugin.
   type: class-toggle
   hub: ignore
   default: false
  -
   id: longform-settings
   title: ✍️ Longform Plugin & Writing cssclass
   description: Font, Alignment, First-Line Indent, Background Color, Index File
   type: heading
   level: 1
   collapsed: true
  -
   id: longform-font
   title: 'Main Font'
   description: "Font used in longform/writing notes (Except code, which still use the monospace font.)"
   type: variable-text
   default: '"Crimson Pro S"'
  -
   id: longform-font-size
   title: Font Size longform/writing notes
   type: variable-number-slider
   default: 1.2
   min: 0.7
   max: 2
   step: 0.05
   format: 'rem'
  -
   id: longform-left-aligned
   title: Left-aligned text
   description: Use left-aligned text instead of justified text.
   type: class-toggle
   default: false
  -
   id: longform-text-indent
   title: First-Line Indent (Reading Mode)
   description: Indent the first Line of a paragraph in longform/writing notes (Reading Mode only).
   type: class-toggle
   default: false
  -
   id: longform-hue-shift-light
   title: Background Color Shift (Light Mode)
   description: 'Degree to which longform and writing notes have a different color tone than normal notes (i.e., hue added/substracted). Setting this to "0" will make longform projects have the same background color as other notes. (Note that custom colors settings with a low saturation or very high/low brightness will values make the color shift less noticeable.)'
   type: variable-number-slider
   default: 25
   min: -180
   max: 180
   step: 5
  -
   id: longform-hue-shift-dark
   title: Background Color Shift (Dark Mode)
   description: 'Degree to which longform and writing notes have a different color tone than normal notes (i.e., hue added/substracted). Setting this to "0" will make longform projects have the same background color as other notes. (Note that custom colors settings with a low saturation or very high/low brightness will values make the color shift less noticeable.)'
   type: variable-number-slider
   default: 25
   min: -180
   max: 180
   step: 5
  -
   id: hide-index-files
   title: 'Hide files named "Index.md" from the File Explorer and the Breadcrumbs Matrix.'
   description: Files named that way are created by the Longform Plugin and normally should not be changed.
   type: class-toggle
   hub: ignore
   default: false
  -
   id: miscellaneous
   title: ⚛️ Miscellaneous
   description: Menu Size, Inactive Panes, Alternating Row Colors, Animations, 🆕 Theme Beta
   type: heading
   level: 1
   collapsed: true
  -
   id: modal-base-size
   title: Menu Size
   description: Modifies the size of modals like the settings menu, plugin browser, or theme browser.
   type: variable-number-slider
   default: 70
   min: 0
   max: 70
   step: 2
  -
   id: no-grayed-out-inactive-pane
   title: Do not dim Inactive Panes
   description: 'Also affects popovers from the Hover Editor Plugin.'
   type: class-toggle
   default: false
  -
   id: no-alternating-rows
   title: Turn off Alternating Row Coloring
   description: Affects Table Rows, Command Palette, Quick Switchers, Side Bar items, and Editor Suggesters.
   type: class-toggle
   default: false
  -
   id: no-animations
   title: Turn off animations & transitions
   description: Can improve performance on older machines.
   type: class-toggle
   default: false
  -
   id: no-shadows
   title: Turn off shadows (3D-like look)
   description: Can improve performance on older machines.
   type: class-toggle
   default: false
  -
   id: unlock-theme-beta
   title: Unlock Theme Beta
   description: 'Unlocks some features of the theme that are still under development. Note that due to the work-in-progress, these features may not work as expected yet. Also, some settings may simply not do anything yet.'
   type: class-toggle
   default: false
  -
   id: info-donation
   title: ☕️ Support Shimmering Focus
   description: "If you like the theme, you can buy me a coffee: ko-fi.com/pseudometa"
   type: heading
   level: 1
   collapsed: true
*/
/* ─────────────────────────────────────────────────── */
