/* ───────────────────────────────────────────────────
SHIMMERING FOCUS by @pseudometa
Version 3.1
Source CSS: https://github.com/chrisgrieser/shimmering-focus/blob/main/source.css
MIT License
──────────────────────────────────────────────────── */
:root{--h1:2em}/* @MINIFY-SPLIT-MARKER */
/* @settings
name: Shimmering Focus
id: shimmering-focus
settings:
  -
   id: show-hide-elements
   title: Show/Hide UI Elements
   description: Re-enable elements hidden by this theme
   type: heading
   level: 1
   collapsed: true
  -
   id: hide-settings-button
   title: Hide Settings Button
   type: class-toggle
   description: "Hide the floating Settings button in the bottom left. You can still access the settings by using the hotkey 'cmd + ,' (Mac) or 'ctrl + ,' (Windows/Linux)."
   default: false
  -
   id: aesthetics
   title: Color & Aesthetics
   description: Color Schemes, Custom Colors, Coloring of YAML, Coloring of Bold/Italic, Brightness, Roundness, 🆕 Native Scrollbars (macOS)
   type: heading
   level: 1
   collapsed: true
  -
   id: colored-yaml
   title: Colored YAML Frontmatter (Edit Mode)
   description: 'Use colored YAML frontmatter in Source Mode & Live Preview. (In Reading Mode, YAML Frontmatter is always colored.) Colors in the YAML Frontmatter are determined by accent colors.'
   type: class-toggle
   default: false
  -
   id: info-donation
   title: ☕️ Support Shimmering Focus
   description: "If you like the theme, you can buy me a coffee: ko-fi.com/pseudometa"
   type: heading
   level: 1
   collapsed: true
   */
/* ─────────────────────────────────────────────────── */
