/* ───────────────────────────────────────────────────
SHIMMERING FOCUS by @pseudometa
Version 3.10
Source CSS: https://github.com/chrisgrieser/shimmering-focus/blob/main/source.css
MIT License
──────────────────────────────────────────────────── */
/* @MINIFY-SPLIT-MARKER */
/* @settings
name: Shimmering Focus
id: shimmering-focus
settings:
  -
   id: show-hide-elements
   title: Show/Hide UI Elements
   description: Re-enable elements hidden by this theme
   type: heading
   level: 1
   collapsed: true
  -
   id: hide-settings-button
   title: Hide Settings Button
   type: class-toggle
   description: "Hide the floating Settings button in the bottom left. You can still access the settings by using the hotkey '⌘,' (Mac) or 'ctrl ,' (Windows/Linux)."
   default: false
  -
   id: show-metadata
   title: 'Reading Mode: Re-enable Metadata Container'
   type: class-toggle
   default: false
  -
   id: no-tabbar-header-hybrid
   title: Disable Tab-Bar-Header-Hybrid
   description: 'By default, this theme turns the Tab Bar into a Header Bar. It turns back into a Tab Bar on hover or when another tab is opened. This can save space, as you can turn off Inline Titles and the Header Bar.'
   type: class-toggle
   default: false
  -
   id: show-ribbons
   title: Re-enable the Ribbon
   type: class-toggle
   description: 'The ribbon is the thin vertical bar to the very left. Without the ribbon, you can still trigger any action via the Command Palette.'
   default: false
  -
   id: show-new-tab-button
   title: Re-enable New Tab Button
   type: class-toggle
   description: 'You can still open a new tab via hotkey.'
   default: false
  -
   id: show-tab-list-button
   title: Re-enable Tab List Button
   type: class-toggle
   default: false
  -
   id: show-close-buttons
   title: Re-enable Close Buttons
   type: class-toggle
   description: "You can still close interfaces by pressing either '⌘W' or 'esc'."
   default: false
  -
   id: hide-languagetool-status-bar
   title: 'Status Bar: Hide Language Tools'
   type: class-toggle
   default: false
  -
   id: hide-backlinks-status-bar
   title: 'Status Bar: Hide Backlinks'
   type: class-toggle
   default: false
  -
   id: info-donation
   title: ☕️ Support Shimmering Focus
   description: "If you like the theme, you can buy me a coffee: ko-fi.com/pseudometa"
   type: heading
   level: 1
   collapsed: true
   */
/* ─────────────────────────────────────────────────── */
