/* toggle readable line length */

/* Remove line length toggle in Style settings, since only used for command
 * (see dummy setting in Style Settings) */
.style-settings-container .setting-item[data-id="readable-line-length-toggle"] {
	display: none;
}

.readable-line-length-toggle {
	--file-line-width: 100%;
}

/* ───────────────────────────────────────────────── */
/** Editor Suggestions
──────────────────────────────────────────────────── */

.suggestion-container {
	border-radius: var(--radius-s);
}

.suggestion-container .suggestion {
	padding: 0;
}

/* so hover effects do not have a line at the bottom */
.suggestion-container .suggestion-item:last-child {
	margin-bottom: 0;
}

/* ───────────────────────────────────────────────── */
/** Empty Note / New Tab Page
──────────────────────────────────────────────────── */

.workspace-tab-header[data-type="empty"]:not(:only-child) {
	font-style: italic;
}

.empty-state-action {
	display: none;
}

/* mod-root ensures that "Plugin no longer active" messages
are not targeted by this */
.mod-root .empty-state-title {
	font-size: 0;
}

.mod-root .empty-state-title::after {
	font-size: 8rem;
	font-weight: 500;
	color: var(--text-muted);
	content: var(--signature);
	transition: var(--anim-duration-slow);
}

.mod-root .empty-state-title:hover::after {
	color: var(--text-accent);
}
