/* SEARCH MATCHES */
.suggestion-highlight.suggestion-highlight {
	color: var(--search-match-color);
	background: none;
}

body .markdown-rendered .search-highlight > div,
.cm-s-obsidian span.obsidian-search-match-highlight {
	box-shadow: 0 0 0 2px var(--search-match-color);
}

body .markdown-rendered .search-highlight > div {
	opacity: 0.9;
}

body .markdown-rendered .search-highlight > div.is-active {
	box-shadow: 0 0 0 3px var(--hover-accent);
}

/* ────────────────────────────────────────────────────────────────────────── */
/* FOLDS */

:is(.style-settings-collapse-indicator, .collapse-icon) > .svg-icon.svg-icon.svg-icon.svg-icon {
	width: 0.75em;
	height: 0.75em;
	margin-left: -0.35em;
	stroke-width: 5px;
}

:is(.markdown-preview-view, .cm-line:not(.cm-active)) .collapse-icon > .svg-icon.svg-icon,
body .cm-s-obsidian .is-collapsed ~ .cm-formatting-list {
	color: var(--text-faint);
}

:is(.style-settings-collapse-indicator, .collapse-icon) > .svg-icon:hover {
	stroke: var(--icon-color-hover);
}
