body:not(.normal-header-bar, .is-mobile) .workspace-leaf-content:not([data-type="browser"]) {
	& .view-header-breadcrumb {
		color: var(--text-faint);
		font-size: 0.9rem;
	}

	/* hide the header & most buttons */
	& .view-header {
		height: 0;
		border: none;

		& .view-header-nav-buttons,
		& .view-header-title,
		& .view-action:nth-last-child(2) {
			display: none;
		}
	}

	/* position remaining buttons (by default only the "more options" button) */
	& .view-header .view-actions {
		position: absolute;
		top: 4px;
		right: 2px;

		&:last-child:hover {
			background: none;
		}

		&:last-child svg {
			width: 20px;
			height: 20px;
		}
	}

	/* move header bar content to the right */
	& .view-header-title-container {
		position: absolute;
		top: 2rem;
		right: 1.1rem;
		transition-duration: var(--anim-duration-moderate);
		transform: rotate(270deg);
		transform-origin: right;

		.workspace-leaf-content[data-type="kanban"] & {
			display: none;
		}
	}

	/* adjustments for PDFs */
	&.workspace-leaf-content[data-type="pdf"] {
		& .view-header-title-container {
			right: 0.7rem;
		}

		& .pdf-viewer {
			margin-right: 0.75em;
		}
	}

	/* Adjustments for BASES core plugin */
	&[data-type="bases-query"] {
		.view-header .view-header-title {
			display: block;
		}
		.view-header {
			z-index: 999;
		}
		.view-header-title-container {
			background-color: var(--bg1);
			padding: 8px;
			top: 1.5rem;
		}
		.bases-header .query-toolbar {
			margin-right: 2rem;
		}
	}
}

/* always hide the shading at the end of the header */
.view-header .view-header-title-container::after {
	display: none;
}

/* more contrast for the header bars that are visible */
.workspace-leaf-content[data-type="browser"] .view-header.view-header,
.normal-header-bar .view-header,
.pdf-toolbar {
	background: var(--bg3);
}

/* hover for breadcrumbs */
.view-header-breadcrumb.view-header-breadcrumb.view-header-breadcrumb.view-header-breadcrumb:hover {
	color: var(--hover-accent);
	cursor: var(--cursor-link);
	background: none;
}
