/* ───────────────────────────────────────────────── */
/** Sidebars
──────────────────────────────────────────────────── */

/* do not trim filenames while renaming */
.tree-item-self.is-being-renamed .tree-item-inner {
	white-space: normal;
}

/* Overlaying right sidebar */
/* not possible for left sidebar https://github.com/chrisgrieser/shimmering-focus/issues/327#issuecomment-2691181434 */
.overlaying-right-sidebar .mod-right-split {
	position: absolute;
	right: 0;
}

/* ───────────────────────────────────────────────── */
/** Sidebar Headers Hidden (Tab Headers)
──────────────────────────────────────────────────── */

body:not(.show-sidebar-header-buttons) {
	--sidebar-tabs-unhovered-height: 10px;
}

/* WINDOWS */
/* fix sidebar header buttons on Windows not being clickable see #247 */
body.mod-windows:not(.show-sidebar-header-buttons) .titlebar {
	height: 35px;
}

/* sync background of windows buttons with sidebar color #329 */
body.mod-windows.is-hidden-frameless:not(.is-fullscreen) .titlebar-button-container.mod-right {
	background-color: transparent;
}

.is-hidden-frameless.mod-windows:not(.is-grabbing, .is-fullscreen, .show-sidebar-header-buttons)
	.mod-top
	.workspace-tab-header-container {
	-webkit-app-region: no-drag;
}

body:not(.show-sidebar-header-buttons)
	:is(.mod-left-split, .mod-right-split)
	:is(
		.workspace-tab-header-container,
		.workspace-tab-header-container *,
		.workspace-tab-header,
		.workspace-tab-header svg
	) {
	transition: var(--anim-duration-moderate);
	transition-delay: var(--transition-delay-passing-over-protection);
	/* so transition of hovering the tab itself does not get delayed */
	transition-property: opacity, height, background-color;
}

body:not(.show-sidebar-header-buttons)
	:is(.mod-left-split, .mod-right-split)
	.workspace-tabs:not(.mod-top)
	.workspace-tab-header-container:not(:hover) {
	height: var(--sidebar-tabs-unhovered-height);
}

body:not(.show-sidebar-header-buttons)
	:is(.mod-left-split, .mod-right-split)
	.workspace-tabs.mod-top
	.workspace-tab-header-container:not(:hover)
	.workspace-tab-header-container-inner {
	opacity: 0;
}

body:not(.show-sidebar-header-buttons)
	:is(.mod-left-split, .mod-right-split)
	.workspace-tabs:not(.mod-top)
	.workspace-tab-header-container {
	background-color: var(--bg1);
}

.theme-light:not(.show-sidebar-header-buttons)
	:is(.mod-left-split, .mod-right-split)
	.workspace-tabs:not(.mod-top)
	.workspace-tab-header-container:not(:hover) {
	background-color: var(--bg2);
}

/* ───────────────────────────────────────────────── */
/** Sidebar Styling
──────────────────────────────────────────────────── */
:is(.mod-right-split, .mod-left-split) .workspace-leaf-content .view-content {
	padding: 0;
}

body:not(.show-sidebar-toggle-buttons) .sidebar-toggle-button {
	display: none;
}

.sidebar-toggle-button {
	height: 35px;
}

/* move the tab-list button to the space now free from the "right sidebar toggle" */
body.mod-macos.is-hidden-frameless:not(.is-popout-window) .workspace
	.workspace-tabs.mod-top-right-space
	.workspace-tab-header-container {
	padding-right: 0;
}

.nav-file-title,
.nav-folder-title {
	margin-top: 0;
	margin-bottom: 0;
	border-radius: 0;
}

:is(.mod-left-split, .mod-right-split) .mod-top .workspace-tab-header-container-inner {
	padding-bottom: 4px;
	margin-top: 4px;
}
