/* Compatibility with Custom Checkboxes by SlRvb   */
.markdown-source-view.mod-cm6 .task-list-item-checkbox[data-task="x"],
.markdown-preview-view li[data-task="x"] > .task-list-item-checkbox,
.markdown-preview-view li[data-task="x"] p .task-list-item-checkbox,
.cm-s-obsidian span.hmd-hidden-token.cm-formatting-task[data-task="x"],
input[type="checkbox"]:not(:checked) {
	color: var(--text-normal);
	margin-top: 2.5px;
	margin-right: 10px;
}

body > div.app-container div.markdown-preview-view ul > li.task-list-item.is-checked,
body > div.app-container div.markdown-preview-view ol > li.task-list-item.is-checked {
	padding-left: 0;
}

body .markdown-source-view.mod-cm6 .task-list-item-checkbox::BEFORE,
body .markdown-preview-view :not(li[data-task="x"]) > .task-list-item-checkbox:checked::BEFORE,
body .markdown-preview-view :not(li[data-task="x"]) p .task-list-item-checkbox:checked::BEFORE {
	top: 2px;
	right: 1.5px;
}

/* icon placement in live preview */
body.check-bg .markdown-source-view.mod-cm6.is-live-preview .task-list-item-checkbox::BEFORE,
body.check-bg .is-live-preview.markdown-preview-view :not(li[data-task="x"]) > .task-list-item-checkbox:checked::BEFORE,
body.check-bg .is-live-preview.markdown-preview-view :not(li[data-task="x"]) p .task-list-item-checkbox:checked::BEFORE {
	top: -3px;
	right: -2px;
}

body .markdown-source-view.mod-cm6 .task-list-item-checkbox > *,
body > div.app-container .markdown-preview-view ul > li.task-list-item.is-checked,
body > div.app-container .markdown-preview-view ol > li.task-list-item.is-checked {
	font-weight: unset; /* stylelint-disable-line font-weight-notation */
	padding-left: 5px;
	margin-bottom: 0;
}
