/* this style setting overrides background colors */
.colorscheme-macos-native {
	&:is(.theme-light, .theme-dark) {
		--bg-hue: 0;
		--longform-bg-hue: 0;
		--bg-sat: 0%;
	}

	/* hide background hue sliders since they mess up the macOS look */
	&
		.setting-item:is(
			[data-id="bg-hue-light"],
			[data-id="bg-hue-dark"],
			[data-id="longform-bg-hue-dark"],
			[data-id="longform-bg-hue-light"]
		) {
		display: none;
	}
}
