/* ───────────────────────────────────────────────── */
/** Search container (cmd+f)
──────────────────────────────────────────────────── */
.document-search-container {
	margin-right: 0;
	margin-left: 0;
	border-bottom: var(--thin-border);
	box-shadow: var(--shadow-s);
}

body:not(.show-close-buttons, .is-mobile) .document-search-close-button {
	display: none;
}

/* ───────────────────────────────────────────────── */
/** Deletion Prompt
──────────────────────────────────────────────────── */

/* deletion prompts do not have their own selector, so making the selectors as
* specific as possible to ensure no other prompts are unintentionally targeted. */
body:not(.full-info-on-deletion-prompt)
	.modal-container.mod-confirmation.mod-dim
	> .modal
	:is(
		.modal-content > p:not(.mod-warning),
		.modal-button-container > .mod-checkbox
	) {
	display: none;
}
